<% include ../partials/header %>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <% include navbar %>
        </div>
        <div class="col-md-10">
            <div class="content-box-large">
                <div class="list-group-item-heading">
                    <div class="panel-title">Assignments</div>
                    <div class="panel-title"><h5>Name : <%=assignment.name %></h5></div>
                    <div class="panel-title"><h5>Description : <%=assignment.description %></h5></div>
                    <div class="panel-title"><h5 >File : <a href="<%=assignment.filename %>">download</a></h5></div>
                    <div class="panel-title"><h5>Grade:<%=assignment.grade %> Class: <%=assignment.class %></h5></div>
                    <div class="panel-title"><h5>Subject: <%=assignment.subject %> </h5></div>
                </div>
                <hr>
                <div class="card mb-3">
                    <div class="card-body">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Index Number</th>
                                    <th>File</th>
                                    <th>Marks</th>
                                </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>